@model IEnumerable<CotizLicitWeb.Models.Licitacion>

    <p>
        <a asp-action="Create">Crear Nueva Licitación</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Expediente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FecCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FecApertura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProveedor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Expediente)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FecCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FecApertura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProveedor)
                    </td>
                </tr>
            }
        </tbody>
    </table>
